
.picture-banner {
    padding-top: 5%;
    background-image: url("../assets/responsive/img/NYCSunset-large.jpg");
    background-position: 14% 10%;
    height: 70%;
    width: 100%;
    position: relative;
}
.black {
    color: black;
    font-weight: 700;
}
.first-caption {
    padding-top: 13%;
    padding-left: -5%;
    font-family: 'Arvo', serif;
    font-style: italic;
}
.caption-overlayed {
    color: #FFF;
    font-family: 'Arvo', serif;
}
body {
}

.logos {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logos li {
    width: 25%;
    padding-left: 2%;
    padding-right: 2% ;
    position: relative;
    display: block;
    overflow: hidden;
}

.logos img {
    height: 100%;
    width: 100%;

}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3 {
    text-align: center;
}

h4 {
    font-size: 250%;
    color: #0B2161; 
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

.internStyling {
    border: dotted 1px #885777; 
    padding: 1em; 
    background-color: #F0F8FF; 
    font-size: 1.5em;
    color: #0B2161; 
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    text-align: justify;
}
.divStyling {
    width: 90%;
    margin-left: auto ;
    margin-right: auto ;

}
