.carousel-item img {
  width:100%;
  min-width:100%;
	height: 44em;
  padding: 0px;
  overflow-x: hidden;
}
.caption {
  position: absolute;
  color: #FFF;
  top: 45%;
  margin-left: -11%;
  left:48%;
}
.largest-club {
  position: absolute;
  color: #FFF;
  top: 55%;
  left: 15%;
}
.caption3 {
  position: absolute;
  color: #FFF;
  height: 100%;
  width: 100%;
  top: 57%; left: 40%; right: 0; bottom: 0;
  margin-left: -8%;
  overflow: auto;
}

.caption5 {
  position: absolute;
  color: #FFF;
  height: 100%;
  width: 100%;
  top: 30%; left: 10%; right: 0; bottom: 0;
  margin-left: -8%;
  overflow: auto;
}
.caption6 {
  position: absolute;
  color: #FFF;
  height: 100%;
  width: 100%;
  top: 40%; left: 15%; right: 0; bottom: 0;
  margin-left: -8%;
  overflow: auto;
}
.caption7 {
  position: absolute;
  color: #FFF;
  height: 100%;
  width: 100%;
  top: 50%; left: 20%; right: 0; bottom: 0;
  margin-left: -8%;
  overflow: auto;
}


.mailing-caption {
  position: absolute;
  color: #FFF;
  height: 100%;
  width: 100%;
  top: 57%; left: 35%; right: 0; bottom: 0;
  margin-left: -8%;
  overflow: auto;
}

.black {
  color: black;
}
.blue {
  color: #003A70;
  font-weight: 600;
}
.gold {
  color: #FDB515;
}
.courgette {
  font-family: 'Courgette', cursive;
  font-weight: 500;
}

a , .top-bar-section ul li > a {

font-family: 'Tenor Sans', sans-serif;


}

.link-button {
    position: absolute;
    width: 170px;
    top: 70%;
    left: 50%;
    margin-left: -85px;
    background: none;
}

.ghost-button-thick-border {
/*  display: inline-block;*/
/*  width: 200px;*/
  font-weight: bold;
  padding: 8px;
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button-thick-border:hover,
.ghost-button-thick-border:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
.slick-slider {
  margin-bottom: 0;
}
.contributors {
  list-style-type: none;
  text-align: left;
}
.full-width {
   width: 100%;
   margin-left: 8%;
   margin-right: 8%;
   max-width: initial;
}
.footer-section {
  color: #FFF;
}
.circle {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 5% 0;
  text-align: center;
  border-radius: 50%;
  font-size: 2em;
  background: #ABC;  
}
#clock {
  margin-left: 0%;
  text-align: center;
  font-family: 'Tenor Sans'. sans-serif;
  font-size: 1.5em;
  color: #FFF;
  margin-bottom: 0;

}

footer {
  color: #FFF;
  font-family: 'Tenor Sans'. sans-serif;
  background-color: #333333;
}