.picture-banner {
    margin-top: -75px;
    background-image: url("../assets/img/HaasArchFrontViewEditted.jpg"); 
    background-position: 0% 90%;
    height:70%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 170%;
    margin-left:auto;
    margin-right: auto;
    display:block;
    position: relative;

}
.headline {
    color: #990000;
    font-size: 75px;
}
.mission-title {
    text-align: center;
}
.involved-section {
    color: black;
}
#DecalImg {
    padding-top: 12%;
}
#QuantChartRight {
    padding-top: 10%;
}