.picture-banner {
    padding-top: 5%;
    background-image: url("../assets/img/baybridgenightbigblurred.jpg");
    position: relative;
	background-repeat: no-repeat;
	background-size: cover;
   	/* background-size: 100% 120%; */
}
.tablinks{
	background-color: #172861;
}

.banner-header-alumni {
    color: white;
    font-size: 100px !important;
    position: relative;
    top: 10%;
    margin-left: 5%;
    float: left;
	font-family: EBGaramond;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.75s;
}

.banner-header-alumni {
    color: white;
    font-size: 75px;
    position: relative;
    top: 30%;
    margin-left: 5%;
    float: left;
    font-family: EBGaramond;
}

.tabcontent {
	display: none;
}
#alumni {
	padding-bottom: 50px;
}      
.alumni .row{
	border: .2px solid black;
}
.alumni h3{
	font-family: EBGaramond;
	font-weight: bold;
	font-size: 20px !important;
	margin: 15px 0 15px 0 !important;
	text-decoration: underline black;
	text-align: left;	
}

.alumni p{
	margin: 15px 0 15px 0 !important;
}
.alumni a{
	margin-top: 15px !important;
	font-size: 20px !important;
	display: inline-block !important;
	font-family: EBGaramond;
}
#alumnip {
	padding-top: 20px;
	font-size: 12px !important;
}

@media only screen and (max-width: 40em) {
    .picture-banner {
		padding-top: 5%;
		background-image: url("../assets/img/baybridgenightbigblurred.jpg");
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		height: 60%
	}

	.banner-header-alumni {
		color: white;
		font-size: 50px !important;
		position: relative;
		top: 40%;
		margin-left: 5%;
		float: left;
		font-family: EBGaramond;
	}
}