.picture-banner {
    padding-top: 5%;
    background-image: url("../assets/img/HaasAerialView.jpg");
    position: relative;
	background-repeat: no-repeat;
	background-size: cover;
   	/* background-size: 100% 120%; */
}
.tablinks{
	background-color: #172861;
}

.tabcontent {
	display: none;
}
#alumni {
	padding-bottom: 50px;
}      
.alumni .row{
	border: .2px solid black;
}
.alumni h3{
	font-family: EBGaramond;
	font-weight: bold;
	font-size: 20px !important;
	margin: 15px 0 15px 0 !important;
	text-decoration: underline black;
	text-align: left;	
}

.alumni p{
	margin: 15px 0 15px 0 !important;
}
.alumni a{
	margin-top: 15px !important;
	font-size: 20px !important;
	display: inline-block !important;
	font-family: EBGaramond;
}
#alumnip {
	padding-top: 20px;
	font-size: 12px !important;
}
