html { 
}
body {
	background: url(../assets/img/QuantChart.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pricing-table .title {
	/*background-color: rgba(0, 0, 0, 0.00392157);*/
	background-color: rgba(100, 220, 170, 1);
	/*background-color: #2DB011; */
	color: white;
	line-height: 25px;
}
.section-title {
	color: white;
}
#checkout-summary {
	padding-top: 5%;
	min-height: 80%;
}