.picture-banner {
    margin-top: -75px;
    background-image: url("../assets/img/BayBridge.jpg"); 
    background-position: 0% 90%;
    height:70%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 170%;
    margin-left:auto;
    margin-right: auto;
    display:block;
    position: relative;

}