.picture-banner {
    background-image: url("../assets/img/BayBridge.jpg"); 
    background-position: 0% 90%;
    height:70%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 170%;
    margin-left:auto;
    margin-right: auto;
    position: relative;
}
.img-banner {
    background-repeat: no-repeat;
    margin-left:auto;
    margin-right: auto;
    height: 70%;
    width: 100%;
}
.banner-header {
    color: white;
    font-size: 75px;
    position: relative;
    left: 7%;
    top: 35%;
    float: right;
    

/*    display: block;
    margin: -10% auto;
    width: 20%;*/

    /*margin: 0 auto;
    width: 80%;*/
}

.contact-table {
    margin: auto;
    width: 80%;
    margin-bottom: 30px;
    border: none;

}
td {
    text-align: center;
    background-color: transparent !important;
}

table tr {
    text-align: center;
    background-color: transparent !important;
}
table tr td .section-title {
    font-weight: bold;
    text-align: center;
    width: 100%;
}
td a {
    display: block;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 3%;
}
td a:visited {
 color: black;
}