.picture-banner {
    background-image: url("../assets/img/BayBridge.jpg");
    /* background-position: 100% 80%; */
	background-position: center;
    background-repeat: no-repeat;
	/* background-size: 105% 170%; */
	background-size: cover;
    position: relative;
}
.img-banner {
    background-repeat: no-repeat;
    margin-left:auto;
    margin-right: auto;
    height: 70%;
    width: 100%;
}
.banner-header {
    color: white;
    font-size: 75px;
    position: relative;
    left: 7%;
    top: 35%;
    float: left;


/*    display: block;
    margin: -10% auto;
    width: 20%;*/

    /*margin: 0 auto;
    width: 80%;*/
}

.individualPics {
    height: 370px;
	width: 240px;
	border: 1px solid #a4a4a4;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: box-shadow 0.3s;
}
.individualPics:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.banner-header-contact {
    color: white;
    font-size: 75px;
    position: relative;
    left: 5%;
    top: 40%;
    float: left;
    font-family: EBGaramond;


/*    display: block;
    margin: -10% auto;
    width: 20%;*/

    /*margin: 0 auto;
    width: 80%;*/
}

.contact-table {
    margin: auto;
    width: 80%;
    margin-bottom: 30px;
    border: none;

}
td {
    text-align: center;
    background-color: transparent !important;
}

table tr {
    text-align: center;
    background-color: transparent !important;
}
table tr td .section-title {
    font-weight: bold;
    text-align: center;
    width: 100%;
}
td a {
    display: block;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 3%;
}
td a:visited {
 color: black;
}

.prof {
    position: relative;
    top: 0;
    left: 0;
}

.prof:hover {
    background-color: whitesmoke;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.prof .mailhover {
    position: absolute;
    top: 30%;
    left: 21%;
    opacity: 0;
    width: auto;
    height: 30%;
    object-fit: cover;
}
.prof:hover .mailhover {
    transition: 1s ease;
    display: inline;
    opacity: 1;
}

@media only screen and (max-width: 40em) {
    .individualPics {
        height: 148px;
        width: 96px;
        border: 1px solid #a4a4a4;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        transition: box-shadow 0.3s;
    }

    .section-title {
        font-size: 20px !important;
    }
    .prof .mailhover {
        position: absolute;
        top: 30%;
        left: 15%;
        opacity: 0;
        width: auto;
        height: 30%;
        object-fit: cover;
    }

    .prof:hover .mailhover {
        transition: 1s ease;
        display: inline;
        opacity: 1;
    }
    
}
