.picture-banner {
    background-image: url("../assets/img/WallStreetSign.jpg");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70%;
    width: 100%;
}
.book img {
    width: 350px;
    height: 475px;
}
.book:hover img {
    -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 19px 10px rgba(0,0,0,0.5);
}
.headline {
    margin-top: 0;
    padding-top: 20%;
    color: white;
}
.black {
    color: black;
    font-weight: 700;
}
.great-firms {
  color: #FFF;
  font-weight: 700;
}
.articleList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.article {
    border: solid;
    width: 70%;
    max-height: 70px;
    line-height: 100px;
}
.article:hover {
    border: none;
    width: 70%;
    max-height: 125px;
    line-height: 100px;
}

.first-caption {
    padding-top: 8%;
    padding-left: -4%;
    font-family: EBGaramond;
    font-style: italic;
}
.caption-overlayed {
    color: #FFF;
    font-family: EBGaramond;
}
body {
    background-color: #FFF;
}

.logos {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}

.logos li {
    width: 25%;
    padding-left: 2%;
    padding-right: 2% ;
    position: relative;
    display: block;
    overflow: hidden;
}

.logos img {
    height: 100%;
    width: 100%;

}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3 {
    text-align: center;
}

.pitchbox {width:250px; height: 300px; margin: auto;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.26);
}
.pitchbox:hover {
    /*-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;*/
    -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 19px 10px rgba(0,0,0,0.5);
}
.pitchlogo {width: 250px; height: 200px; max-height: 200px; background-color: #fff; border: 1px; padding-bottom: 50px; margin: auto; text-align: center;     overflow: hidden;
}
.textarea {width: 250px; max-width: 250px; height: 100px; max-height: 100px; 
    background-color: #d3d4d3; 
    border: 1px; padding-left: 10px; padding-bottom: 100px; margin: auto; overflow: hidden;}
.pitchlogo, .textarea {
}
.officers, .Date {
    font-size: 12px;
}
.involved-section {
    color: #0B2161; 
    /*font-family: 'Arbutus Slab', serif;;*/
    font-family: EBGaramond;
    text-align: justify;
}
.quote {
    font-family: EBGaramond;
    text-align: left;
}
.divStyling {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#QuantChartMobile {
    display: none;
}
.presentations {
    list-style: none;
    text-align: center;
    font-family: EBGaramond;
    margin-left: auto;
    margin-right: auto;
}

 /* Small Screens */
@media only screen and (max-width: 40em) {
    .picture-banner {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
    .headline {
        padding-top: 65%;
        font-size: 35px;
    }
    .help {
        color: white;
    }

    .quote {
        font-size: 12px;
    }
    .topic {
        font-size: 12px;
    }
    .book img {
        width: 200px;
        height: 250px;
    }

    .first-caption {
        padding-top: 21%;
        padding-left: -5%;
        font-family: EBGaramond;
        font-style: italic;
        font-size: 80%;
    }
    .caption-overlayed {
        color: #FFF;
        font-family: EBGaramond;
        font-size: 80%;
    }
    #QuantChartRight {
        display: none;
    }
    #QuantChartMobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #WallStreetImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}